body {
    background-color: #EF960F;
    font-family: sans-serif ;
    margin: 0;
}
img{
width: 100%;
}

main, footer header {
width:100%;
margin: auto;
}
main.ill footer.foo header.he {
  width:100%;
  margin: auto;
  }

header p{
  font-size: 24px;
padding: 10px;
}

  header  {
    width: 100%;
    background-color: #FCF77D;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
 
  }
header.pa{
  background-color: #EF960F;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
 padding: 8px;
}

    nav ul {
   list-style:none;
    margin: 0px;
    padding: 8px;
    font-size: 24px;
     display: flex;
     gap: 16px; 
 }

 ul a{
  text-decoration: none;
  color: black;
 }

 nav ul :hover {
  color: #EF960F;
 }

   main section.card{
   display: grid ; 
   grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
   margin: auto;
   width: 100%;
   padding: 40px;
}


main section.card img{
  margin: auto;
   }

div.d{
  margin: auto;
width: 80%;
padding: 40px;
}
    footer section.fote{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
     margin: auto;
      }
    

section.fote img{
  width: 20%;
 }

footer{
  background-color:  #FCF77D;
  text-align: center;
  padding: px;
}
footer section.fote :hover{
opacity:  0.8;
}

p.t{
  font-size: 48px;
margin: auto;
  font-size: 48px;
  width: 750px;
  line-height: 130%;
padding: 20px;
}

section.si p{
  margin: auto;
  width: 800px;
  font-size: 48px;
  line-height: 130%;
padding: 20px;
}

      footer img {
        list-style: none;
     max-width: 100%;
        object-fit: cover;
        object-fit: fill;
        padding: 28px;
      }

      h4{
        font-size: 32px ;
      }
      
      p{
        font-size: 32px ;
      }
      footer section.foter  {
        list-style: none;
       display: grid;
     grid-template-columns: 1fr 1fr;

      }
      footer section.foter img {
        width: 10%;
        object-fit: cover;
        object-fit: fill;
  
      }
    footer  section.foo img{
      max-width: 100%;
        object-fit: cover;
        object-fit: fill;
        padding: 28px;
      }
      footer ul.foo{
        list-style: none;
      }

      ul.foo h4{
        font-size: px;
      }
      footer section.fot {
        list-style: none;
       display: grid;
     grid-template-columns: 1fr 1fr;

      }
      footer section.fot img {
        width: 10%;
        object-fit: cover;
        object-fit: fill;
 
      }
    footer  section.fo img{
      max-width: 10%;
        object-fit: cover;
        object-fit: fill;
      
      }
      footer ul.fo{
        list-style: none;
      }

      ul.fo h4{
        font-size:24px;
      }
section.card div:hover{
opacity: 0.8;
}
      h1{
     font-size: 64px;
        margin: 0px;  
     text-align: center;
     gap: 8px;
     padding: 104px 0px  104px 0px;
      }

   h2{
    font-size: 48px;
    margin: 0px;
   }

     body.co{
        background-color: #ffff;
         }
      
         header.he  {
        background-color: #CFEBFA;
        list-style: none;
        margin: 0px;
        padding: 10px;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
       }
       header.hed :hover{
color: blue ;
       }
       header.he :hover{
        color: blue ;
               }
      main.ill {
        width: 100%;
        margin: auto;
      } 
      main.ill section.imag{
        display: grid ; 
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
        margin: auto;
        width: 100%;
        padding: 40px;
    }
    main section.ill img{
      margin: auto;
       }

div.c img {
  width: 80%;
  height: 600px;
  object-fit: cover;
  margin: auto;
  padding: 40px;
          }


  main.ill h3{ 
    font-size: 64px;
    display: flex;
    justify-content:center ;
  margin: auto;
  padding: 40px;

 }
ul.u :hover{
color: #FCF77D;
}
          main.t{
                font-weight: normal;
                text-align: center;
           font: size 46px; 
        }
.foter{
  background-color:#CFEBFA;
}  
.fote{
  background-color:#CFEBFA
} 
.hed{
  background-color:#fff;
}   
     @media(max-width:800px) {

    main section.card img{
    margin: auto;
    max-width: 80%;
   }

   div.d{
   max-width: 80%;
   margin: auto;
   }
      
       nav ul li  {
       font-size:16px;
       gap: 10px;
       }

       header  p{
       font-size: 16px; 
       padding: 10px;
       }
           
       section.copertina h1{
        font-size: 40px;
        margin: auto;
        }
       }

        @media (max-width:500px) {
  
        section.card div.dimg{
        
        margin: auto;
        }
              
         main section.card{
         margin: auto;
         padding: 10px;
         }
                   
         header nav ul li  {
         font-size: 14px; 
          }

           header p{
           font-size: 14px;         
           }
           section.card div.d h2{
           font-size: 24px;
           }

           section.copertina h1{
           font-size: 32px;
           margin: auto;
           }
           ul.fo h4{
            font-size:16px;
          }
          }     

 @media (max-width:800px) {
    
      main.ill section.imag{ 
        margin: auto; 
      }
      div.c img{
        margin: auto;
        width: 80%;
        height: 90%;
       padding: 20px;
        }    
        section.ill  img{
          width: 80%;
          margin: auto;
          }
                
           main section.ill{
           margin: auto;
           padding: 10px;
           }
                     
           header nav ul li  {
           font-size: 14px; 
            }
  
             header p{
             font-size: 14px;         
             }
  
             main.ill h3{ 
              font-size: 48px;
              display: flex;
              justify-content:center ;
            margin: auto;
            padding: 40px;
           }
           p.t{
            font-size: 32px;
          margin: auto;
            width: 350px;
            line-height: 130%;
          }
          section.si p{
            margin: auto;
            width: 500px;
            font-size: 40px;
            line-height: 130%;
          padding: 20px;
          }
      }
      
      
 @media (max-width:500px) {

main.ill section.imag{
  margin: auto;
}

  section.ill  img{
    margin: auto;
    }
          
     main section.ill{
     margin: auto;
     padding: 10px;
   
     }
     div.c img{
      margin: auto;
      width: 60%;
      height: 80%;
     padding: 20px;
      }    

     header nav ul li  {
     font-size: 14px; 
      }

       header p{
       font-size: 14px;         
       }

       main.ill h3{ 
        font-size: 32px;
      margin: auto;
      padding: 10px;
    
     }
     p.t{
      font-size: 24px;
    margin: auto;
      width: 300px;
      line-height: 130%;
    }
    section.si p{
      margin: auto;
      width: 400px;
      font-size: 32px;
      line-height: 130%;
    padding: 70px;
    }
    ul.fo h4{
      font-size:16px;
    }
    ul.foo h4{
      font-size:16px;
    }
}
